name: CI/CD Process
on:
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    if: github.ref_name != 'master' || github.event.commits[0].author.name != 'renovate[bot]'
    uses: ./.github/workflows/test.yml
  release:
    environment: release_env
    permissions:
      contents: write
      packages: write
    needs:
      - test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
        with:
          token: ${{ secrets.CI_TOKEN }}
      - name: Install Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: package.json
      - uses: DanySK/build-check-deploy-gradle-action@4.0.12
        with:
          retries-on-failure: '1'
          build-command: true
          check-command: true
          deploy-command: |
            npm install
            npx semantic-release
          should-run-codecov: false
          should-deploy: true
          github-token: ${{ github.token }}
          maven-central-username: ${{ secrets.MAVEN_USERNAME }}
          maven-central-password: ${{ secrets.MAVEN_PASSWORD }}
          npm-token: ${{ secrets.NPM_TOKEN }}
          signing-key: ${{ secrets.SIGNING_KEY }}
          signing-password: ${{ secrets.SIGNING_PASSWORD }}
          java-version: '21'
  success:
    environment: release_env
    runs-on: ubuntu-24.04
    needs:
      - release
    if: >-
      always() && (
        contains(join(needs.*.result, ','), 'failure')
        || !contains(join(needs.*.result, ','), 'cancelled')
      )
    steps:
      - name: Verify that there were no failures
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}
