name: on-release
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
env:
  project-name: arg2p-kt
  workflow: release
  gradle-options: "--no-daemon --console=plain --stacktrace"

jobs:
  publish:
    environment: release_env
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
      ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
      ORG_GRADLE_PROJECT_bintrayUser: ${{ secrets.BINTRAY_USER }}
      ORG_GRADLE_PROJECT_bintrayKey: ${{ secrets.BINTRAY_KEY }}
      ORG_GRADLE_PROJECT_mavenUsername: ${{ secrets.OSSRH_USERNAME }}
      ORG_GRADLE_PROJECT_mavenPassword: ${{ secrets.OSSRH_PASSWORD }}
      ORG_GRADLE_PROJECT_npmToken: ${{ secrets.NPM_TOKEN }}
      ORG_GRADLE_PROJECT_githubToken: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get All Tags
        run: git fetch --tags -f
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: 14
      - name: Setup Gradle
        run: ./gradlew ${{ env.gradle-options }}
      - name: Check Code Style
        run: ./gradlew ${{ env.gradle-options }} ktlintCheck --parallel
      - name: Clean
        run: ./gradlew ${{ env.gradle-options }} clean
      - name: Compile
        run: ./gradlew ${{ env.gradle-options }} assemble --parallel
      - name: Test JVM
        run: ./gradlew ${{ env.gradle-options }} jvmTest
#      - name: Test JS
#        run: ./gradlew ${{ env.gradle-options }} jsTest || ./gradlew ${{ env.gradle-options }} clean jsTest
      - name: Generate Doc
        run: ./gradlew ${{ env.gradle-options }} dokkaHtml --parallel
      - name: Generate Multi-Module Doc
        run: ./gradlew ${{ env.gradle-options }} dokkaHtmlMultiModule --parallel
      - name: Sign Archives
        run: ./gradlew ${{ env.gradle-options }} signAllPublications --parallel
      - name: Publish on Bintray Maven Repo
        run: ./gradlew ${{ env.gradle-options }} publishAllToBintray --parallel
      - name: Publish on Maven Central Repo
        run: ./gradlew ${{ env.gradle-options }} publishAllPublicationsToMavenRepository
      - name: Publish on NPM
        run: ./gradlew ${{ env.gradle-options }} jsMain npmPublish || ./gradlew ${{ env.gradle-options }} clean jsMain npmPublish
      - name: Publish GitHub Release
        run: ./gradlew ${{ env.gradle-options }} githubRelease || ./gradlew ${{ env.gradle-options }} githubRelease
